.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1000;
}

.modal-overlay.show {
  display: block;
}

.modal-container {
  position: fixed;
  top: 55px;
  left: 270px;
  width: 330px;
  height: calc(100% - 55px);
  background-color: #ffffff;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
  transition: transform 0.5s ease;
  z-index: 1001;
}

.modal-container.slide-in {
  transform: translateX(0);
}

.modal-container.slide-out {
  transform: translateX(-100%);
}

.modal-heading {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #e9e9e9;
  height: 44px;
}

.modal-heading h6 {
  font-family: "R2";
  font-size: 13px;
  color: #000000;
}

.modal-heading i {
  color: #898989;
  font-size: 16px;
}

.back-sider {
  cursor: pointer;
}

.modal-heading img {
  height: 20px;
}

.modal-content-body {
  height: calc(100% - 50px);
  overflow-y: auto;
}
